<div class="App">
  <header class="App-header">
    <img src="/assets/headshot.jpg" class="App-logo" alt="logo" />
    <p>
      My Explorations <span class="heart">♥️</span> Tech, Life, Musings
    </p>
    <p class="small">
      Enter <a href="/blog/index"> my headspace </a> at your own peril!
    </p>
  </header>
</div>
