<div class="App">
  <header class="App-header">
    <img src="/assets/headshot.jpg" class="App-logo" alt="logo" />
    <p>
      My Explorations <span class="heart">♥️</span> Tech, Life, Musings
    </p>
    <p class="small">
      Enter <a href="http://localhost:3001"> my headspace </a> at your own peril!
    </p>
    <p class="extra-small">
     <a href="http://localhost:3001">Blog site</a>
     <a href="/graphiql">API</a>
      <a href="/blog/index">Rails explorations</a>
    </p>
  </header>
</div>
