<div class="App">
<div>
<header class="App-header">
  <p class="small">
     <h2>Greetings!</h2>
        <p><%= @reply %></p>
        <% form_tag("my_explorations", :method => "post") do %>
          <%= label_tag(:q, "Search for:") %>
          <%= text_field_tag(:q) %>
          <%= submit_tag("chat") %>
        <% end %>
    </p>



  </header>
</div>
